AddSharedMemory/Connected Services/ServiceMetier/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54895/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54895/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54895/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MetierSharedMemory" />
      <xsd:import schemaLocation="http://localhost:54895/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MetierSharedMemory.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditJury_InputMessage">
    <wsdl:part name="parameters" element="tns:EditJury" />
  </wsdl:message>
  <wsdl:message name="IService1_EditJury_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditJuryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteJury_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteJury" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteJury_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteJuryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddJury_InputMessage">
    <wsdl:part name="parameters" element="tns:AddJury" />
  </wsdl:message>
  <wsdl:message name="IService1_AddJury_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddJuryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetJury_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJury" />
  </wsdl:message>
  <wsdl:message name="IService1_GetJury_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJuryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetsJury_InputMessage">
    <wsdl:part name="parameters" element="tns:GetsJury" />
  </wsdl:message>
  <wsdl:message name="IService1_GetsJury_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetsJuryResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditJury">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EditJury" message="tns:IService1_EditJury_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditJuryResponse" message="tns:IService1_EditJury_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteJury">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteJury" message="tns:IService1_DeleteJury_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteJuryResponse" message="tns:IService1_DeleteJury_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddJury">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddJury" message="tns:IService1_AddJury_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddJuryResponse" message="tns:IService1_AddJury_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJury">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetJury" message="tns:IService1_GetJury_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetJuryResponse" message="tns:IService1_GetJury_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetsJury">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetsJury" message="tns:IService1_GetsJury_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetsJuryResponse" message="tns:IService1_GetsJury_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditJury">
      <soap:operation soapAction="http://tempuri.org/IService1/EditJury" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteJury">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteJury" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddJury">
      <soap:operation soapAction="http://tempuri.org/IService1/AddJury" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJury">
      <soap:operation soapAction="http://tempuri.org/IService1/GetJury" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetsJury">
      <soap:operation soapAction="http://tempuri.org/IService1/GetsJury" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:54895/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>